include common.pug

mixin page(name, active=false)
  .page-container
    input(id=`page-${name}` type='radio' name='pageswitch' checked=active)
    .page(class=name)!= include(`pages/${name}.pug`, locals)


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='style.css')
    style: include:prefixCSS(prefix='#themeswitch:not(:checked) ~ *') node_modules/highlight.js/styles/atom-one-dark.min.css
    style: include:prefixCSS(prefix='#themeswitch:checked ~ *') node_modules/highlight.js/styles/atom-one-light.min.css
    title Leaf

  body
    input#themeswitch(type='checkbox')
    
    header
      svg(viewbox='0 96 512 320' height='1em' fill='currentColor'): use(href='assets/hex_leaf.svg#leaf')
      
      nav#navbar
        label(for='page-home') Home
        label(for='page-projects') Projects
        label(for='page-blog') Blog
      
      label(for='themeswitch').stack
        +feather('sun').dark
        +feather('moon').light

    main.stack
      each pageName, i in ['home', 'projects', 'blog']
        +page(pageName, !i)

      each post in blogposts
        .page-container
          input(type='radio' name='pageswitch' id=`page-blog-${post.id}`)
          .page.blogpost!= include(`pages/blogposts/${post.id}.pug`, { filters, post, id(id) { return `blogpost-${post.id}-${id}` } })