mixin feather(icon)
  svg(
    width='1em'
    height='1em'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
  )&attributes(attributes).feather: use(href='assets/feather-sprite.svg#' + icon)


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Leaf

  body
    input#themeswitch(type='checkbox')
    
    header
      svg(viewbox='0 96 512 320' height='1em' fill='currentColor'): use(href='assets/hex_leaf.svg#leaf')
      
      #navbar
        label(for='page-home') Home
        label(for='page-projects') Projects
        //- label(for='page-blog') Blog
      
      label(for='themeswitch').stack
        +feather('sun').dark
        +feather('moon').light
    
    main.stack
      .page-container
        input#page-home(type='radio' name='pageswitch' checked)
        .page.home
          include pages/home.pug
      
      .page-container
        input#page-projects(type='radio' name='pageswitch')
        .page.projects
          include pages/projects.pug

      //- .page-container
      //-   input#page-blog(type='radio' name='pageswitch')
      //-   .page.blog
      //-     include pages/blog.pug